@import url('https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

:root {
  /* blue */
  --blue-100: rgb(208, 227, 249);
  --blue-200: rgb(161, 200, 243);
  --blue-300: rgb(114, 172, 237);
  --blue-400: rgb(67, 145, 231);
  --blue-500: rgb(20, 117, 225);
  --blue-600: rgb(16, 94, 180);
  --blue-700: rgb(12, 70, 135);
  --blue-800: rgb(8, 47, 90);
  --blue-900: rgb(4, 23, 45);

  /* red */
  --red-100: rgb(251, 207, 216);
  --red-200: rgb(246, 160, 177);
  --red-300: rgb(242, 112, 138);
  --red-400: rgb(237, 65, 99);
  --red-500: rgb(233, 17, 60);
  --red-600: rgb(186, 14, 48);
  --red-700: rgb(140, 10, 36);
  --red-800: rgb(93, 7, 24);
  --red-900: rgb(47, 3, 12);

  /* purple */
  --purple-100: rgb(220, 204, 255);
  --purple-200: rgb(190, 143, 255);
  --purple-300: rgb(176, 97, 255);
  --purple-400: rgb(150, 46, 255);
  --purple-500: rgb(144, 0, 255);
  --purple-600: rgb(113, 0, 199);
  --purple-700: rgb(89, 0, 153);
  --purple-800: rgb(45, 0, 77);
  --purple-900: rgb(30, 1, 50);

  /* green */
  --green-100: rgb(204, 255, 204);
  --green-200: rgb(143, 255, 143);
  --green-300: rgb(87, 255, 87);
  --green-400: rgb(31, 255, 32);
  --green-500: rgb(0, 231, 1);
  --green-600: rgb(0, 184, 1);
  --green-700: rgb(0, 138, 1);
  --green-800: rgb(0, 77, 0);
  --green-900: rgb(1, 62, 1);

  /* yellow */
  --yellow-100: rgb(255, 242, 221);
  --yellow-200: rgb(255, 222, 170);
  --yellow-300: rgb(255, 204, 123);
  --yellow-400: rgb(255, 185, 73);
  --yellow-500: rgb(255, 157, 0);
  --yellow-600: rgb(205, 127, 0);
  --yellow-700: rgb(156, 96, 0);
  --yellow-800: rgb(99, 61, 0);
  --yellow-900: rgb(48, 29, 0);

  /* grey */
  --grey-100: rgb(213, 220, 235);
  --grey-200: rgb(177, 186, 211);
  --grey-300: rgb(85, 112, 134);
  --grey-350: rgb(61, 85, 100);
  --grey-400: rgb(61, 69, 83);
  --grey-500: rgb(33, 55, 67);
  --grey-600: rgb(26, 44, 56);
  --grey-700: rgb(15, 33, 46);
  --grey-800: rgb(7, 29, 42);
  --grey-900: rgb(7, 24, 36);
  --neutral-black: #05080a;
}


* {
	font-family: "Lexend", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
    border: solid red;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--grey-600);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bar {
    width: 100vw;
    height: 50px;
    background-color: var(--grey-600);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

#barContent {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    width: 1000px;
    display: flex;
    justify-content: center;
}


#disclaimer {
    text-align:justify;
}

#disclaimerTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

#balance {
    background-color: var(--grey-700);
    border-radius: 5px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamesGrid {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    background-color: var(--grey-700);
    border-radius: 10px;
    width: 120px;
    height: 180px;
    margin: 15px 5px;
}

#diamondsGame {
    width: 600px;
    height: 600px;
    background-color: var(--grey-700);
    display: flex;
    justify-content: center;
    align-items: end;
}

.gameTitle {
    font-size: 36px;
    margin: 25px;
}

.bettingBar {
    width: 200px;
    height: 600px;
    background-color: var(--grey-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0px 0px 25px;
}

.betButton {
    width: 150px;
    height: 50px;
    background-color: var(--green-500);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-black);
}

.gameContainer {
    border-radius: 0px 25px 25px 0px;
}

#diamondContainer {
    width: 600px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.diamond {
    width: 100px;
    height: 100px;
    background-color: white;
}